@using KuMaDaoCoreAbp.Web.Areas.Admin.Models.Common.Modals
@model KuMaDaoCoreAbp.Web.Areas.Admin.Models.Article.EditArticleDetailModal
@{
    Layout = null;
    var temp = Model.ArticleDetailDto;
}

<div class="modal-body">
    <form name="ArticleDetailUpdateForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@temp.Id" />
        <input type="hidden" name="Id" value="@temp.ArticleId" />
        <div class="row clearfix">
      
        </div>
       
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label for="article-description" class="form-label">Role Description</label>
                        <textarea id="article-description" name="Description" class="validate form-control"></textarea>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
    <button type="button" id="ArticleDetailUpdate_Confrim" class="btn btn-primary waves-effect">@L("Save")</button>
</div>
<script src="~/view-resources/Views/Article/_editArticleDetailModal.js"  asp-append-version="true"></script>
