@using KuMaDaoCoreAbp.Web.Startup
@model KuMaDaoCoreAbp.Web.Areas.Admin.Models.Article.ArticleListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Roles; //The menu item will be active for this page.
}
@section styles{ 
<link href="~/libs/bootstrap-table/boorstrap-table.css" rel="stylesheet" />
<link href="~/libs/layer/theme/default/layer.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/libs/jquery.validate.js"></script>
<script src="~/libs/bootstrap-table/bootstrap-table.js"></script>
<script src="~/libs/layer/layer.js"></script>

    <environment names="Development">
        <script src="~/view-resources/Views/Article/index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Article/Index.min.js" asp-append-version="true"></script>
    </environment>
    <script>
         window.operateEvents = {
                'click .btn_edit': function (e, value, row, index) {
                    layer.open({
                        type: 1,
                        //skin: 'layui-layer-rim', //加上边框
                        area: ['850px', '450px'], //宽高
                        content: $("#ArticleEditModal").html()
                    });
                    $.ajax({
                        url: "/admin/article/EditArticleModal/"+row.id,
                        type: 'post',
                        contentType: 'application/html',
                        success: function (content) {
                            $('.layui-layer .layui-layer-content').html(content);
                            //$('.layui-layer #ArticleCreateModal button[type="submit"]').trigger("click");
                        },
                        error: function (e) { }
                    });
                   
                },
                'click .btn_del': function (e, value, row, index) {
                   // delThisRow("/article/delete/" + row.id);
                },
                'click .btn_sign':function(e, value, row, index){
                       var str ="<div class='ibox-content' style='padding:0px;'> <div class='' id='gtd_cm'><div class='sk-spinner sk-spinner-rotating-plane'></div></div></div>";
                        layer.open({
                            type: 1,
                            area: ['480px', '580px'], //宽高
                            content:str
                        });
                        $("#gtd_cm").load("/static/activity/"+row.id);
                }
            }
            window.sortEvents = {
                'change .bs_row_sort': function (e, value, row, index) {
                    var sort = $(this).val();
                    if (isNaN(sort)) {
                        return false;
                    }
                    $.post("/article/updateSort", { id: row.id, sort: sort }, function (data) {
                        alertMsg(data.message)
                        if (data.status >= 0) {
                            bsTableReload();
                        }
                    })
                }
            }
            var column = [
                  {   checkbox: true},
                { title: "Id", field: "id", },
                { title: "分类", field: "categoryId", },
                  { title: "文章标题", field: "title", width: "40%" },                
                  { title: "查看次数", field: "seeCount", },
                ////  { title: "排序", events: sortEvents, formatter: sortFormatter, width: "8%" },
                //  { title: "是否置顶", formatter: statusFormatter },
                //  { title: "发布日期", field: "createTime", },
                  {
                      title: "操作", events: operateEvents, formatter: function (value, row, index) { 
                          return ' <div class="btn-group"><button class="btn-white btn btn-xs btn_edit">编辑</button> <button class="btn-white btn btn-xs btn_del">删除</button></div>'
                      }
                  },//自定义方法，添加操作按钮
            ];
            var table = $('#table').bootstrapTable({
                url: '/api/services/app/Article/GetPagedArticlesAsync',
                toolbar: '#toolbar',
                method: 'get',
                striped: true,
                pagination: true,
                uniqueId: "id",                    //每一行的唯一标识，一般为主键列
                singleSelect: true,
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 25,
                pageList: [10, 15, 25, 50, 100],
                sidePagination: "server", //服务端请求
                search: true,
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                clickToSelect: true,                //是否启用点击选中行
                columns: column,
                queryParams: function (params) {
                    params.searches = {                      
                    }
                    return params;
                },   
                responseHandler: function (res) {
                    console.log(res.result);
                    return res.result;
                }
            });

            function sortFormatter(value, row, index) {
                return '<input type="text" value="' + row.sort + '" class="form-select bs_row_sort" />'
            }

            function statusFormatter(value, row, index) {
                if (row.isTop) {
                    return '<span class="label label-primary">置顶</span>'
                } else {
                    return '<span>-</span>'
                }
            }
            function operateFormatter(value, row, index) {//赋予的参数
               
                return ' <div class="btn-group"><button class="btn-white btn btn-xs btn_edit" data-toggle="modal" data-target="#ArticleEditModal">编辑</button>  '+
                    '<button class="btn-white btn btn-xs btn_del" > 删除</button ></div >'               
            }
            $("#add").click(function () { 
                layer.open({
                    type: 1,
                    //skin: 'layui-layer-rim', //加上边框
                    area: ['850px', '450px'], //宽高
                    content: $("#ArticleEditModal").html()
                });
                $.ajax({
                    url: "/admin/article/EditArticleModal/",
                    type: 'post',
                    contentType: 'application/html',
                    success: function (content) {
                        $('.layui-layer .layui-layer-content').html(content);
                        //$('.layui-layer #ArticleCreateModal button[type="submit"]').trigger("click");
                    },
                    error: function (e) { }
                });
            })
    </script>
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Miscellaneous</a>
            </li>
            <li class="active">
                <strong>Blog</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div id="toolbar" class="btn-group">

                <button class="btn btn-primary" id="add" href="#" data-toggle="modal" data-target="#A_rticleCreateModal">添加</button>
                <div class="toolbar_item">
                    <label class="control-label">分类</label>

                </div>
            </div>
            <table id="table"></table>
        </div>
    </div>

</div>




    <div class="modal fade" id="ArticleCreateModal" tabindex="-1" role="dialog" aria-labelledby="ArticleCreateModalLabel" data-backdrop="static">

        <div style="margin:10px 20px;">
            <form name="articleCreateForm" role="form" novalidate class="form-validation">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="" class="form-label">文章名</label>
                                <input id="title" type="text" name="Title" required maxlength="32" minlength="2" class="validate form-control">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="displayname" class="form-label">简介</label>
                                <input id="body" type="text" name="Body" required maxlength="32" minlength="2" class="validate form-control">                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="displayname" class="form-label">分类</label>
                                <input id="Category" type="text" name="Category" required maxlength="32" minlength="2" class="validate form-control">                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <label for="article-description" class="form-label">Role Description</label>
                                <textarea id="article-description" name="Description" class="validate form-control"></textarea>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" id="ArticleCreate_Comfrim" class="btn btn-primary waves-effect">@L("Save")</button>
                </div>
            </form>
        </div>
        
    </div>
    <div class="modal fade" id="ArticleEditModal" tabindex="-1" role="dialog" aria-labelledby="ArticleEditModalLabel" data-backdrop="static">
       
    </div>
